**/__pycache__
**/.pytest_cache
build/
.DS_Store

# LaTeX temporary files
*.aux
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Programming example outputs
BasicProgramming/output.csv
BasicProgramming/high_salary.csv
